src/wsdl/GreetingWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 
	(branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 
	JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 
	svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 
	(branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 
	JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 
	svn-revision#unknown. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://endpoint.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://endpoint.ws/"
	name="GreetingWebService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://endpoint.ws/"
				schemaLocation="GreetingWebService.xsd" />
		</xsd:schema>
	</types>
	<message name="sayHello">
		<part name="parameters" element="tns:sayHello" />
	</message>
	<message name="sayHelloResponse">
		<part name="parameters" element="tns:sayHelloResponse" />
	</message>
	<message name="hello">
		<part name="parameters" element="tns:hello" />
	</message>
	<message name="helloResponse">
		<part name="parameters" element="tns:helloResponse" />
	</message>
	<message name="goodBye">
		<part name="parameters" element="tns:goodBye" />
	</message>
	<message name="goodByeResponse">
		<part name="parameters" element="tns:goodByeResponse" />
	</message>
	<message name="getNumberOfGreetings">
		<part name="parameters" element="tns:getNumberOfGreetings" />
	</message>
	<message name="getNumberOfGreetingsResponse">
		<part name="parameters" element="tns:getNumberOfGreetingsResponse" />
	</message>
	<message name="getNumberOfHellosWithoutGoodBye">
		<part name="parameters" element="tns:getNumberOfHellosWithoutGoodBye" />
	</message>
	<message name="getNumberOfHellosWithoutGoodByeResponse">
		<part name="parameters" element="tns:getNumberOfHellosWithoutGoodByeResponse" />
	</message>
	<message name="Exception">
		<part name="fault" element="tns:Exception" />
	</message>
	<message name="sendGreeting">
		<part name="parameters" element="tns:sendGreeting" />
	</message>
	<message name="sendGreetingResponse">
		<part name="parameters" element="tns:sendGreetingResponse" />
	</message>
	<message name="getSomeGreeting">
		<part name="parameters" element="tns:getSomeGreeting" />
	</message>
	<message name="getSomeGreetingResponse">
		<part name="parameters" element="tns:getSomeGreetingResponse" />
	</message>
	<portType name="GreetingWebService">
		<operation name="sayHello">
			<input wsam:Action="http://endpoint.ws/GreetingWebService/sayHelloRequest"
				message="tns:sayHello" />
			<output wsam:Action="http://endpoint.ws/GreetingWebService/sayHelloResponse"
				message="tns:sayHelloResponse" />
		</operation>
		<operation name="hello">
			<input wsam:Action="http://endpoint.ws/GreetingWebService/helloRequest"
				message="tns:hello" />
			<output wsam:Action="http://endpoint.ws/GreetingWebService/helloResponse"
				message="tns:helloResponse" />
		</operation>
		<operation name="goodBye">
			<input wsam:Action="http://endpoint.ws/GreetingWebService/goodByeRequest"
				message="tns:goodBye" />
			<output wsam:Action="http://endpoint.ws/GreetingWebService/goodByeResponse"
				message="tns:goodByeResponse" />
		</operation>
		<operation name="getNumberOfGreetings">
			<input
				wsam:Action="http://endpoint.ws/GreetingWebService/getNumberOfGreetingsRequest"
				message="tns:getNumberOfGreetings" />
			<output
				wsam:Action="http://endpoint.ws/GreetingWebService/getNumberOfGreetingsResponse"
				message="tns:getNumberOfGreetingsResponse" />
		</operation>
		<operation name="getNumberOfHellosWithoutGoodBye">
			<input
				wsam:Action="http://endpoint.ws/GreetingWebService/getNumberOfHellosWithoutGoodByeRequest"
				message="tns:getNumberOfHellosWithoutGoodBye" />
			<output
				wsam:Action="http://endpoint.ws/GreetingWebService/getNumberOfHellosWithoutGoodByeResponse"
				message="tns:getNumberOfHellosWithoutGoodByeResponse" />
			<fault message="tns:Exception" name="Exception"
				wsam:Action="http://endpoint.ws/GreetingWebService/getNumberOfHellosWithoutGoodBye/Fault/Exception" />
		</operation>
		<operation name="sendGreeting">
			<input wsam:Action="http://endpoint.ws/GreetingWebService/sendGreetingRequest"
				message="tns:sendGreeting" />
			<output wsam:Action="http://endpoint.ws/GreetingWebService/sendGreetingResponse"
				message="tns:sendGreetingResponse" />
		</operation>
		<operation name="getSomeGreeting">
			<input wsam:Action="http://endpoint.ws/GreetingWebService/getSomeGreetingRequest"
				message="tns:getSomeGreeting" />
			<output
				wsam:Action="http://endpoint.ws/GreetingWebService/getSomeGreetingResponse"
				message="tns:getSomeGreetingResponse" />
		</operation>
	</portType>
	<binding name="GreetingWebServicePortBinding" type="tns:GreetingWebService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="sayHello">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="hello">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="goodBye">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getNumberOfGreetings">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getNumberOfHellosWithoutGoodBye">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="sendGreeting">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getSomeGreeting">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="GreetingWebService">
		<port name="GreetingWebServicePort" binding="tns:GreetingWebServicePortBinding">
			<soap:address location="http://localhost:8080/ws-endpoint/GreetingWebService" />
		</port>
	</service>
</definitions>